# Put this file in: /etc/udev/rules.d/51-android.rules
# Reference: http://developer.android.com/tools/device.html
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", MODE=="0666", GROUP=="plugdev"
