<!DOCTYPE html>
<html>
	<meta charset="utf-8"> 
	<head>
    <title></title>
		<!--
		  <link rel="stylesheet" type="text/css" href="indexStyle.css">
		  <link rel="stylesheet" type="text/css" href="resolution.js">
		  <link rel="stylesheet" type="text/css" href="form.php">
		-->
	<head/>
	<body>
		<p></p>	
		<!--
		Como chamar um código PHP
		<?php
    #include("arquivo.php");
		#require("arquivo.php");
		?>
		
		Como chamar uma funcao JavaScript
		<button type="button" onclick="myFunction()">Try it</button>
		<script src="FuncoesJavaScript.js"></script>
		-->
	</body>
<!-- That is a comment -->
</html>

