/* used for all <div> */
div {
	height: 500px;
	width: 200px;
}

/* used only for the single component called fstDiv */
#fstDiv {
	width: 100px;
	height: 100px;
}
/* used for the whole class .left */
.left {
	width: 100px;
	height: 100px;
}
